.filter-bar {
  /* width: 18.75rem; */
  flex: 0.15;
  min-height: 80vh;
  border-right: 1px solid var(--gray-300);
  padding: 2rem;
}

.filter-comp {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
  align-items: center;
}
.filter-heading {
  margin-bottom: 0.5rem;
}
.prices {
  display: flex;
  justify-content: space-between;
}
.range {
  padding-top: 0.2rem;
  width: 100%;
}

.list {
  list-style: none;
}
.list li {
  padding: 0.2rem 0;
}
.list input,
label {
  cursor: pointer;
}
