.product-listing {
  flex: 0.85;
}
/* Products styles  */
.products-page {
  display: flex;
}

.products-container {
  width: 100%;
  margin: 2rem;
}
.products-qty-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.products {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.ct-basic-card {
  align-items: flex-start;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.ct-product-stats {
  flex-wrap: wrap;
}
.ct-product-stats > * {
  padding: 0.2rem 0;
}
.ct-product-stats h4 {
  color: var(--gray-700);
}
