.profile-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1rem;
}
.profile-card h2 {
  margin-bottom: 1.2rem;
}
.profile-details {
  line-height: 1.6rem;
}
