.product-card {
  background-color: #fff;
  box-sizing: border-box;
  margin: 1rem auto;
  min-height: max-content;
  width: 250px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 7px;
}
.product-card h4 {
  padding-top: 0.4rem;
}
.ct-card-badge {
  position: absolute;
  left: -0.3rem;
  top: 1rem;
  padding: 0 1rem;
}
.card-btn {
  width: 100%;
  justify-content: center;
  background-color: var(--orange-300);
}
.ct-card-wish {
  cursor: pointer;
  color: var(--gray-500);
}

.card-wish-uncheck {
  cursor: pointer;
}
.sold-out-theme {
  filter: brightness(70%);
  cursor: not-allowed;
}
.price-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating-div {
  display: flex;
  align-items: center;
}
.star {
  color: #ffc725;
  font-size: 1.2rem;
}
