/* @import url("http://fonts.cdnfonts.com/css/avenir-next-lt-pro"); */
/* @import url("/fonts/AvenirNextLTPro-Regular.otf");

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* .ct-btn {
  font-family: "Avenir Next";
} */
