.hero {
  background-image: url("./landing.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0rem;
  backdrop-filter: brightness(10%);
  background-color: rgba(0, 0, 0, 1);
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  text-align: center;
  font-size: 1.6rem;
  color: var(--gray-300);
}
.hero-container h1 {
  color: var(--gray-300);
  font-size: 4rem;
  padding: 0.5rem;
  letter-spacing: 0.1em;
}
.ct-btn .banner-link {
  text-decoration: none;
  color: var(--gray-300);
}
.main-cta {
  font-size: 1.2rem;
  margin: 1rem;
  background-color: var(--violet-500);
  transition: all 250ms ease-in;
}
.main-cta:hover {
  background-color: var(--violet-700);
}
