.profile-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.profile-page h1 {
  margin: 1rem;
}
.profile-page-section {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
.user-profile-links {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--violet-700);
}
.profile-link {
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  list-style: none;
  text-decoration: none;
  color: var(--gray-500);
  text-align: center;
}
.profile-container {
  padding: 1rem;
  padding-top: 0;
  width: 400px;
}
.profile-link-active {
  background-color: var(--violet-700);
  color: var(--body);
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .profile-page-section {
    flex-direction: column;
  }
  .user-profile-links {
    font-size: 1rem;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid var(--violet-700);
    margin-bottom: 1rem;
  }
  .profile-link-active {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
  .profile-link {
    font-size: 1rem;
    padding: 0.4rem 1.1rem;
  }
  .profile-container {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
