/* @import url("http://fonts.cdnfonts.com/css/avenir-next-lt-pro"); */
/* @import url("/fonts/AvenirNextLTPro-Regular.otf");

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Avenir Next"; */
  background: var(--gray-100);
  color: var(--gray-500);
  letter-spacing: 1.6;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.link {
  text-decoration: none;
  color: var(--violet-300);
}

/* .ct-btn {
  font-family: "Avenir Next";
} */
input[type="checkbox"] {
  accent-color: var(--violet-500);
}
