.navbar {
  background-color: var(--body);
  min-height: max-content;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  text-align: left;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  color: var(--gray-500);
}
.navbar h1 {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary);
}
.logo img {
  width: 40px;
}
.nav-icon {
  display: flex;
  justify-content: center;
  margin: 0rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.nav-icon span {
  font-size: 1.8rem;
}
.badge {
  font-size: 12px;
  padding: 0 4px;
  font-weight: bolder;
  background: #fff;
  border: 1px solid var(--gray-500);
}
.icon {
  color: var(--gray-500);
}
.icon-selected {
  color: blueviolet;
}
.hamburger {
  display: none;
}
/* 750px */

@media only screen and (max-width: 750px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .ct-nav-user {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .nav-icon,
  .nav-icon span {
    padding: 0;
    margin: 0;
    font-size: 2rem;
  }
}
