.hero {
  background-image: url("./landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  text-align: center;
  color: var(--gray-100);
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.25);
}
.hero-container h1 {
  padding: 1rem;
}
.ct-btn .banner-link {
  text-decoration: none;
  color: var(--violet-300);
}
.main-cta {
  font-size: 1.2rem;
  margin: 1rem;
}
