.mobile-navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 0;
  height: 0;
  transition: all 300ms ease;
  background-color: var(--violet-700);
  color: var(--gray-100);
}

/* .mobile-navbar-open {
  width: 100vw;
  height: 100vh;
} */

.navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-900);
  padding: 1rem 2rem;
  padding-left: 2rem;
}
.navbar-head span {
  font-size: 2rem;
  cursor: pointer;
}
.navbar-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}
.navbar-body li {
  list-style: none;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--gray-900);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .mobile-navbar-open {
    width: 100vw;
    height: 100vh;
  }
}
