.filter-bar {
  max-height: 90vh;
  border-right: 1px solid var(--gray-300);
  padding: 1rem 0rem;
  flex: 0.2;
  overflow: auto;
}
.filter-bar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.filter-comp {
  overflow: auto;
  padding: 0rem 1.2rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
  align-items: center;
}
.filter-heading {
  margin-bottom: 0.5rem;
}
.prices {
  display: flex;
  justify-content: space-between;
}
.range {
  padding-top: 0.2rem;
  width: 100%;
  accent-color: var(--violet-500);
}

.list {
  list-style: none;
}
.list li {
  padding: 0.2rem 0;
}
.list input,
.list label {
  cursor: pointer;
}
.mobile-filter-close {
  display: none;
}
.accordion-input label {
  margin-left: 1.5rem;
  cursor: pointer;
}
.filter-input {
  accent-color: var(--violet-500);
  margin: 0 6px;
}

@media only screen and (max-width: 750px) {
  .remove-filter {
    position: absolute;
    z-index: 99;
    background-color: var(--violet-300);
    left: -1000px;
    width: 100%;
    height: 100%;
    transition: all 250ms ease;
  }

  .add-filter-bar {
    position: absolute;
    z-index: 99;
    background-color: var(--body);
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 250ms ease;
  }
  .mobile-filter-close {
    display: flex;
    cursor: pointer;
  }
}
